*{
    box-sizing: border-box;
  }


  div#chatspace {
    height: auto;
    width: 300px;
    margin: 10px auto;
    opacity: 0.9;
}

div#output {
    height: 500px;
    background-color: white;
    width: 98%;
    margin: 30px auto 0;
    color: black;
    border:1px solid #ccc;
    overflow: auto;
    border-radius: 20px 20px 0 0 ;
}

div#down {
    height: 63px;
    background-color: white;
    width: 98%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    border:1px solid #ccc;
    border-radius: 0 0 20px 20px;

}
input#input {
    height: 36px;
    width: 78%;
    font-size: 15px;
    margin: 13px 7px;
}

button#send {
    height: 70%;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* ユーザー*/
.user-message {
    background-color: #d5f3a5;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 8px 5px 0;
    text-align: left;
    float: right;
    border-radius: 30px 30px 0px 30px;
    margin-left: 50px;
    width: fit-content;
    max-width: 80%;
}

/* Gemini*/
.gemini-message {
    background-color: #d5f3a5;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0px 5px 8px;
    text-align: left;
    float: left;
    border-radius: 30px 30px 30px 0px;
    margin-right: 50px;
    width: fit-content;
    max-width: 80%;
}