*{
    box-sizing: border-box;
  }



/* ここからtop */
#top {
    width: 100%;
    height: 850px;
    background-image: url("../img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: auto;
}

#t0 {
    /* background-color: rebeccapurple; */
    height: 24px;
}

#t1 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 36px 0;
    transition: 0.5s;
}

#t1:hover {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 36px 0;
    background-color: white;
    color: black;
    border-radius: 23px;
    transition: 0.5s;
}

span#t11 {
    display: flex;
    justify-content: space-around;
    width: 33%;
    font-size: 17px;
    margin: 0 0 0 30px;
    padding-top: 23px;
    font-weight: 600;
}

span#t112 {
    height: 34px;
    width: 55px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    cursor: pointer;
}

span#t112:hover {
    height: 34px;
    width: 55px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    opacity: 0.6;
}

span#t113 {
    height: 34px;
    width: 55px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    cursor: pointer;
}

span#t113:hover {
    height: 34px;
    width: 55px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    opacity: 0.6;
}

span#t114 {
    height: 34px;
    width: 114px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    cursor: pointer;
}

span#t114:hover {
    height: 34px;
    width: 114px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    opacity: 0.6;
}

span#t12 {
    width: 33%;
    font-size: 30px;
    margin: 0  0;
    padding-top: 20px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}

span#t13 {
    width: 33%;
    font-size: 17px;
    margin: 0 30px 0 0px;
    padding-top: 17px;
    text-align: right;
    display: flex;
    justify-content: end;
}

span#t131 {
    background-color: #ffac00;
    border-radius: 20px;
    display: block;
    height: 38px;
    width: 84px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 13px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

span#t131:hover {
    opacity: 0.6;
}
